.terminal {
  background-color: #3a3a3a;
  border: 0;
  color: #fefefe;
  border-radius: 3px;
  font-size: 1.5rem;
  white-space: pre;
  overflow: auto;
  font-family: monospace, monospace;
  page-break-inside: avoid;
  box-sizing: border-box;
  webkit-font-smoothing: antialiased;
  margin: 1em 0px 1em;
  display: block;
  padding: 1em;
  font-weight: 400;
  line-height: 1.45;
}
